.wrapper {
  margin-top: 20px;
}

.btnInfo {
  background-color: #6483c4;
  color: white;
  border-radius: 20px;
  padding: 8px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.info {
  margin: 20px 0 0 0;
}
